name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./api-gateway/Dockerfile
            image: ruslantv-microservices-api-gateway
          - dockerfile: ./microservices/auth-service/Dockerfile
            image: ruslantv-microservices-auth-service
          - dockerfile: ./microservices/channel-service/Dockerfile
            image: ruslantv-microservices-channel-service
          - dockerfile: ./microservices/notif-service/Dockerfile
            image: ruslantv-microservices-notif-service
          - dockerfile: ./microservices/video-service/Dockerfile
            image: ruslantv-microservices-video-service

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker hub
        uses: docker/login-action@v3
        with: 
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract Docker image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.image }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: ${{ github.event_name != 'pull_request '}}
          tags: ${{ steps.meta.outputs.tags }}
          annotations: ${{ steps.meta.outputs.annotations }}
          provenance: true
          sbom: true
          